header {
	text-align: center;
}
header h1 {
	font-size: 40px;
	font-family: "Impact";
	text-align: center;
}
fieldset {
	margin: 0px 400px 0px 0px;
	display: inline-block;
	border-radius: 10px;
	
}
div {
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	background-color: lightblue;
}
div label {
	font-family: Courier New;
	border-radius: 5px;
}
div input {
	margin: 5px 0px 5px 2px;
	border-radius: 5px;
}
.checkDiv {
	background-color: white;
}